* {
  margin: 0;
  padding: 0;
}

body {
  background-color:lightseagreen;
}

p {
  width: 200px;
}

h4 {
  margin-left: 500px;
  display: flex;
  padding: 30px 10px 20px 10px;
  width: 20%;
  justify-content: center;
}

.main-txt {
  display: flex;
 justify-content: flex-start;
margin-left: 360px;

}
.header,
.header1,
.header2 {
  display: flex;
  background-color: lightseagreen;
  padding: 25px 25px;
  justify-content: center;
}

.main-container,
.main-container1,
.main-container2 {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: lightseagreen;
  width: 100%;
}

input {
  width: 20%;
}

ul li {
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding: 2px 450px 2px 450px;
  list-style-type: none;
  transition: 0.2s;
}

ul li:hover {
  background: lightslategrey;
}

span {
  float: right;
}

.list {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  margin-left: 100px;
  color: #d9d9d9;
}

.btn {
  justify-content: center;
  padding: 2px;
  width: 10%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
}

.btn:hover {
  background-color: seagreen;
}

.btn1 {
  display: flex;
  justify-content: center;
  width: 10%;
  background: #d9d9d9;
  color: #555;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
}
